* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    color: black;
    font-family: "Alfabet";
}



/* HEADER */ 
header {
    background-color: #F0F0F0;
    border-bottom: solid 1px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 60px;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indexButton {
    font-family: "Gyst Variable";
    align-content: center;
    font-size: 60px;
    align-self: flex-start;
    background-color: rgba(20, 20, 20, 0);
    border: none;
    cursor: pointer;
    font-style:normal;
}

.indexButton:hover {
    cursor: pointer;
    font-style: italic;
}

.button-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    border-radius: 60px;
    padding: 6px;
}

.navButton {
    font-family: "Alfabet";
    font-size: 16px;
    border-radius: 60px;
    color: #949494;
    background: none;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.navButton:hover {
    color: black;
    background-color: #ffe10057;
}

.navButton:active,  .active {
    color: black;
    background-color: #FFE000;
}


 
/*CATEGORIA*/
main {
    padding-top: 160px;
    margin-bottom: 100px;
    z-index: 0;
}

.title {
    font-family: "Alfabet";
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 60px;
    font-size: 100px;
}

.main_box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: "Alfabet";
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    z-index: 1;
    border-bottom: 1px solid black;
    padding-bottom: 80px;
    grid-column-gap: 20px;
}

.info {
    grid-column: 1 / span 2;
}

h1 {
    font-family: "Alfabet";
    color: rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 24;
    margin-bottom: 10px;
}

p {
    color: rgba(0, 0, 0, 0.1);
    font-weight: 200;
    font-size: 12;
}

.box {
    grid-column: 3 / span 10; 
}

.fixed-text {
    font-family: "Alfabet";
    font-weight: 200;
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 16px;
    padding: 20px 60px;
    border-radius: 5px;
    z-index: -1;
}

img {
    display: block;
    float: left;
    height: 80px;
    margin: 1px;
}

.image-container:hover img {
    filter: none !important;
    opacity: 1 !important ;
}



/*FOOTER*/
footer {
    font-family: "Alfabet";
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    height: auto;
    background-color: rgb(20, 20, 20);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;
    margin-top: 200px;
}

.footer-text-1 {
    color: white;
    grid-column: 1/6;
    font-size: 14px;
    text-align: left;  
}